
<div style="position: fixed;">
  <app-studentdashboard></app-studentdashboard>
</div>
<div style="padding-top: 50px;  position:fixed;">
 

  <div class="row">

    <img class="column" src="../../assets/Images/s3.jpg" alt="...">
    <img class="column" src="../../assets/Images/s2.jpg" alt="...">
    <img class="column" src="../../assets/Images/s1.jfif" alt="...">
  </div>

  <div class="vision">
    <h3>Our Vision</h3>
    <p>Empower the educational services in ever changing environment to create better opportunities for the students and
      teachers for their consistent growth.
      Our aim is to create a strong chain of educational institutes to connect and communicate with each other on the
      single platform.
    </p>
  </div>

  <div class="mission">
    <h3>Our Mission</h3>
    <p>We Strive to build strong communication network with more institution focused educational services so that we can
      endeavor 100% customer satisfaction.
      We set the target to provide better commitments to the clients for Enhancing and Customising their educational
      requirements with utmost dedication.
    </p>
  </div>
 
<footer>
  <div class="row " style="margin-left:5px;">
    <div class="col-lg-5">
      <ul class="footer-contact-info">
        <span><i class="fa fa-map-marker fa-lg me-3"></i> Find Us </span>
        <p class="info-subtitle mt-1">Roxana Towers, Solugenix India Private Limited, 5th, 6th, 7th & 8th Floor,
          Block - B, Greenlands, Begumpet, Hyderabad, Telangana 500016.<br>
        </p>

      </ul>
    </div>
    <div class="col-lg-2">
      <ul class="footer-contact-info">
        <span><i class="fa fa-phone fa-lg"></i></span>
        <p class="info-subtitle mt-1">040 2375 4140 </p>
     

      </ul>
    </div>
    <div class="col-lg-3">
      <ul class="footer-contact-info">
        <span><i class="fa fa-envelope-open fa-lg"></i></span>
        <p class="info-subtitle mt-1"><a href="mailto:info@solugenix.com." style="color:white">info@solugenix.com.</a>
        </p>

      </ul>
    </div>
    <div class="col-lg-2">
      <ul class="footer-contact-info">
        <p class="info-title mb-1 fa-lg">Follow Us</p>
        <ul>
          <a href=" https://www.facebook.com/Solugenix" target="_blank"><i style="color:white"
                class="fa fa-facebook fa-lg"></i></a>
                <br>
          <a href="https://twitter.com/solugenix" target="_blank"><i style="color:white"
                class="fa fa-twitter fa-lg"></i></a>
                <br>
          <a href="https://in.linkedin.com/company/solugenix" target="_blank"><i style="color:white"
                class="fa fa-linkedin-square fa-lg"></i> </a>
        </ul>
      </ul>
    </div>
  </div>
</footer> 

</div>