
<div class="sidebar">
  <a  routerLink="/studentDetails"> <i class="fa fa-graduation-cap fa-lg fa-fw me-2 "></i><b> Student</b></a>
  <a *ngIf="role1=='Admin'" routerLink="/user"><i class="fa fa-users fa-lg fa-fw me-2 "></i><b class="p-2">User</b></a>
  <a routerLink="/profile"><i class=" fa fa-user fa-lg fa-fw me-2"></i><b>Profile</b></a>
  <a routerLink="/about"><i class="fa fa-info-circle fa-lg  me-3"></i><b>About</b></a> 
  <a routerLink="/dept"><i class="fa fa-info-circle fa-lg  me-3"></i><b>Department</b></a>
  <a routerLink="/exam"><i class="fa fa-info-circle fa-lg  me-3"></i><b>Exam</b></a>
  <a routerLink="/qnshod"><b>Question</b></a>

  <a routerLink="/result"><b>Result</b></a>
</div>

