

<div style="position: fixed;">
    <app-studentdashboard></app-studentdashboard>
  </div>
<div style="padding-top: 200px; position:fixed; margin-left: 500px;">
    <div class="container bootstrap snippets bootdey panel-body inf-content" style="width: 500px;">
        <div class="row mt-2">
            <div class="col-md-6" style="margin-left: 0px;">
                <img style="width:240px; height:200px;"
                    src="https://tse1.mm.bing.net/th/id/OIP.ho7hCKNowRHh7u5wu1aMWQHaF9?pid=ImgDet&rs=1">
            </div>
            <div class="col-md-6 mt-1">
            
                
                <div class="table-responsive">
                    <table class="table table-user-information">
                        <tbody>
                            <tr>
                                <td><strong>Name:</strong>
                                </td>
                                <td>{{name}}</td>
                            </tr>
                            <tr>
                                <td><strong>UserName:</strong>
                                </td>
                                <td appEllipse>{{userName}}</td>
                            <tr>
                            <tr>
                                <td><strong>Role:</strong>
                                </td>
                                <td>{{role}}</td>
                            <tr>
                                <td><strong>Mobile: </strong></td>
                                <td appEllipse>{{phone}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>